.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.spacer {
  flex: 1;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.active {
  border-bottom: 2px solid yellow;
}