<h2 mat-dialog-title class="text-xl font-semibold text-center pt-4">
  🔐 Reset Password
</h2>

<form [formGroup]="forgetPassword">

  <mat-dialog-content class="px-4 py-2">

    <!-- Email -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="forgetPassword.controls.email.errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="forgetPassword.controls.email.errors?.['email']">
        Enter valid email
      </mat-error>
    </mat-form-field>

    <!-- New Password -->
    <mat-form-field appearance="outline" class="w-full mt-3">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="newPassword">

      <button mat-icon-button matSuffix (click)="hide1 = !hide1" type="button">
        <mat-icon>{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <mat-error *ngIf="forgetPassword.controls.newPassword.errors?.['required']">
        Password required
      </mat-error>
      <mat-error *ngIf="forgetPassword.controls.newPassword.errors?.['minlength']">
        Minimum 6 characters
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline" class="w-full mt-3">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword">

      <button mat-icon-button matSuffix (click)="hide2 = !hide2" type="button">
        <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <mat-error *ngIf="forgetPassword.controls.confirmPassword.invalid">
        Confirm password required
      </mat-error>

      <!-- Match validation -->
      <mat-error *ngIf="
        forgetPassword.value.newPassword &&
        forgetPassword.value.confirmPassword &&
        forgetPassword.value.newPassword !== forgetPassword.value.confirmPassword
      ">
        Passwords do not match
      </mat-error>

    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end" class="px-4 pb-3 gap-2">

    <button mat-stroked-button (click)="close()">
      Cancel
    </button>

    <button mat-raised-button color="primary" (click)="submit()">
      Reset
    </button>

  </mat-dialog-actions>

</form>