<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-blue-50 to-gray-100 px-4">

    <div class="w-full max-w-md bg-white rounded-2xl shadow-lg p-6 sm:p-8">

        <!-- Title -->
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">
            Finance Tracker 💰
        </h2>
        <p class="text-center text-gray-500 mb-6">
            Login to manage your finances
        </p>

        <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- Email -->
            <mat-form-field appearance="outline" class="w-full mb-4">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
                <mat-error *ngIf="form.controls.email.invalid">
                    Valid email required
                </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="outline" class="w-full mb-4">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="form.controls.password.invalid">
                    Password required
                </mat-error>
            </mat-form-field>

            <!-- Button -->
            <button mat-raised-button color="primary" class="w-full">
                Login
            </button>
            <p class="text-right text-sm mb-2">
                <span class="text-blue-600 cursor-pointer" (click)="openForgotDialog()">
                    Forgot Password?
                </span>
            </p>
        </form>

        <!-- Link -->
        <p class="text-center text-sm mt-4">
            Don't have an account?
            <a routerLink="/register" class="text-blue-600 font-medium">
                Register
            </a>
        </p>

    </div>
</div>
